name: 'DeployOficialDokku'

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  Testes:
    runs-on: ubuntu-latest
    steps:
      - name: Atualizando Envs
        run: echo "${{ secrets.ENVDEV_VARS }}" > .env
      - uses: actions/checkout@v3.6.0
      - name: Instalação dos pacotes
        run: npm ci
      - name: Build Projeto
        run: npm run start
      - name: Execução dos Testes
        run: npm test
    
  Deploy_API:
    runs-on: ubuntu-latest
    needs: Testes
    steps:
      - name: Clone Repositorio
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Envio Para Dokku
        uses: dokku/github-action@v1.4.0
        with:
          git_remote_url: 'ssh://dokku@186.202.57.75:22/api-ts-powerful'
          #ssh_host_key: ${{ secrets.SSH_HOST_KEY }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
